@import './settings/palette.scss';
@import './settings/media.scss';
@import './settings/size.scss';
@import './objects/objects.scss';

.header {
  @extend .header-obj;
  background-color: $header-bg;
  color: $font-color;
  font-size: $font-phone;

  @include screenTablet {
    font-size: $font-tablet;
  }

  @include screenTabletLand {
    font-size: $font-tablet;
  }

  @include screenLap {
    height: 15vh;
    align-items: center;
    font-size: $font-max;
  }

  @include screenMax {
    height: 15vh;
    align-items: center;
    font-size: $font-max;
  }
}
