@import './objects/objects.scss';
@import './settings/media.scss';
@import './settings/palette.scss';

.chat {
  @extend .chat-obj;
  background-color: $chat-bg;

  @include screenTablet {
    height: 65vh;
    width: 100%;
    margin: 0;
  }

  @include screenLap {
    width: 80%;
    height: 65vh;
    margin-top: 5%;
  }

  @include screenMax {
    width: 70%;
    height: 65vh;
    scroll-behavior: smooth;
    margin-top: 3%;
  }

  &__text {
    @extend .text-obj;

    @include screenTablet {
      width: 100%;
    }
    @include screenLap {
      width: 80%;
      height: 10%;
      bottom: 2%;
    }
    @include screenMax {
      width: 70%;
      height: 5%;
      bottom: 4%;
    }

    textarea {
      resize: none;
      @extend .textarea-obj;
    }
    button {
      background-color: $button-bg;
      font-weight: 500;
      color: $button-color;
      @extend .button-obj;
    }
  }
}

.message {
  background-color: $message-bg;
  color: $message-color;
  @extend .message-obj;
  p {
    width: 100%;
    word-break: break-all;
    text-align: right;
  }
}

.messageCompany {
  background-color: $company-bg;
  color: $company-color;
  span {
    border-bottom: 1px white;
  }
  @extend .message-company-obj;
  p {
    width: 100%;
    word-break: break-all;
    text-align: right;
  }
}

.messageError {
  background-color: $error-bg;
  color: $error-color;
  @extend .message-company-obj;
  p {
    width: 100%;
    word-break: break-all;
    text-align: right;
  }
}

.img {
  width: 8rem;
  height: 8rem;
  margin-right: 5%;
  img {
    border-radius: 60px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
